<!DOCTYPE html>
<html ng-app="myAngularApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js">
    </script>
    <script type="text/javascript" src="angular-app.js">

    </script>
  </head>
  <body>

    <div class="musicplayer" ng-controller="mainController">
      <input type="text" ng-model="name" placeholder="What is your name?">
      <button type="button" name="button" ng-click="login()">Login</button>
      <h1 ng-if="validate()">Hello {{name}}</h1>
      <table>
        <tr>
          <th>Username</th>
          <th>Email</th>
        </tr>
        <tr ng-repeat="user in users">
         <td>{{user.username}}</td>
         <td>{{user.email}}</td>
        </tr>
      </table>
    </div>




  </body>
</html>
